.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.justify-between {
  justify-content: space-between;
}

.mb-lg {
  margin-bottom: 16px;
}
.p {
  padding: 5px;
}
.border {
  border: 1px solid black;
}
.border-right {
  border-right: 1px solid black;
}
.border-bottom {
  border-bottom: 1px solid black;
}
.rounded {
  border-radius: 4px;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
